.movesList {
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  flex: 1;
}

.moveElement {
  background-color: #f8f8c0;
  opacity: 5px;
  border-bottom: dotted 2px #e8e0a8;
  width: 100%;
  flex: 1;
}

.moveElement.selected {
  background-color: #007bff;
  color: white;
}

.movesListContainer {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.p {
  font-size: 3vh;
}
