.movesSelectContainer {
  background-image: url(https://external-preview.redd.it/aC7zQKO6GH1UVuAB_K31hwncC23H-O3C1-CJODnHB_U.png?auto=webp&s=ad1def80446bd62c4931612260ea5fb38ea1af66);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-size: 100% 150%;
  font-size: 2vh;
}
.pokemons-moves {
  position: fixed;
  width: 100%;
  height: 42%;
  top: 58%;
  display: flex;
  flex-direction: column;
}

.pokemons {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.selectedMoves-button {
  display: flex;
  flex-direction: row;
  flex: 2;
  gap: 2%;
  margin-left: 2%;
  margin-right: 2%;
}
.selectedMoves-button > * {
  flex: 1;
  gap: 5%;
  height: 90%;
  font-size: 3vh;
}

p {
  padding: 0px;
  margin: 0px;
  margin-left: 2%;
  font-size: 3vh;
}

.moves {
  display: flex;
  flex-direction: row;
  flex: 2;
}

.confirmButton {
  width: 30%;
  height: 30%;
  background-color: red;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  font-size: 3vh;
  text-align: center;
  justify-content: center;
}
