@font-face {
  font-family: "PokemonEmerald";
  src: url("https://wuujt.github.io/font/PokemonEmerald.woff2") format("woff2");
}

div {
  font-family: "PokemonEmerald", sans-serif;
  font-size: 5 px;
  min-width: 0px;
  min-height: 0px;
}

.container {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
}
